* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.divRoot {
  width: 100%; /* 100% del ancho */
  height: 90%;
  max-width: 90%;
  margin: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Elementos en columna */
  padding: 25px;
  gap: 10px; /* Espacio entre secciones */
}

section {
  width: 100%;
  height: 100%;
}

.container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  height: 80%;
  gap: 15px;
}

h1 {
  text-align: center;
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: 500;
}

.section1 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  position: relative;
  gap: 10px;
}

.titulo,
.titulo2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.btn-opcion {
  width: 70%;
  padding: 7px;
  background-color: #6e6e6e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.btn-opcion:hover {
  background-color: #565656;
}

.section2 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

canvas#visualizacion {
  width: 100%;
  height: 100%;
  /*max-height: 400px;  Ajusta según necesites */
  border: 2px solid gold;
  border-radius: 5px;
  background-color: #00bfff;
}

.section3 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px; /* Espacio entre botones */
}

.section4 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  position: relative;
  gap: 10px;
}

.section4_1 {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  gap: 10px;
}

.btn-accion {
  flex: 1; /* Los botones ocupan la misma proporción */
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.limpiar {
  background-color: #e74c3c;
}

.guardar {
  background-color: #27ae60;
}

.historial {
  background-color: #3498db;
}

.btn-accion:hover {
  opacity: 0.8;
}

form {
  margin-top: 15px;
  border: 1px solid #2b2b2b;
  padding: 10px;
  flex: 1;
}

.formPuntos {
  margin-top: 20px;
  border: 1px solid #2b2b2b;
  padding: 10px;
  flex: 1;
}

.formCaminos {
  margin-top: 10px;
  border: 1px solid #2b2b2b;
  padding: 10px;
  flex: 1;
}

.formCalculate {
  margin-top: 0px;
  border: 1px solid #2b2b2b;
  padding: 10px;
  flex: 1;
}

label {
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
}

.labelPuntoInicial {
  text-align: center;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
  display: block;
}

input,
select {
  width: 100%;
  height: 40px;
  font-size: 15px;
  color: #2b2b2b;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
}

select {
  margin-bottom: 20px;
  height: 30px;
  padding: 2px 10px;
}

.formRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.formRow input {
  width: 45%;
  margin: 0 10px;
  border: 1px solid #2b2b2b;
}

.btn {
  color: #2b2b2b;
  background: #e7e6e6;
  cursor: pointer;
  font-size: 14px;
  border: #e7e6e6 2px outset;
  border-radius: 5px;
}

.form-container {
  max-height: 0; /* Oculta el formulario */
  overflow: hidden; /* Evita que se muestre el contenido */
  transition: max-height 0.3s ease-in-out; /* Transición suave */
  width: 90%;
  height: 60%;
  display: flex;
}

.form-container.slide-down {
  max-height: 300px; /* Ajusta a un valor suficiente para mostrar el formulario */
}

.form-container1,
.form-container2 {
  max-height: 0; /* Oculta el formulario */
  overflow: hidden; /* Evita que se muestre el contenido */
  transition: max-height 0.3s ease-in-out; /* Transición suave */
  align-items: center;
  display: flex;
}

.form-container1.slide-down1,
.form-container2.slide-down2 {
  max-height: 300px; /* Ajusta a un valor suficiente para mostrar el formulario */
}

.divPuntoInicial,
.divPuntoFinal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.divPuntoInicial select,
.divPuntoFinal select {
  margin: 0 10px;
  border: 1px solid #2b2b2b;
}

.btnCrearCamino,
.btnCrearRuta {
  padding-bottom: 7px;
}
